PROJECT_NAME="SmartSip"

DATABASE_URL="sqlite:///./data/hydration.db"
SECRET_KEY="tutaj-wygeneruj-bardzo-dlugi-losowy-ciag-znakow-np-openssl-rand-hex-32"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=10080  # 7 dni
GOOGLE_CLIENT_ID="twoj_client_id_z_google_cloud_console.apps.googleusercontent.com"

UI_API_BASE_URL="http://127.0.0.1:8000"
